<div id="sidebar" class="nav-collapse">
    <ul class="sidebar-menu" id="nav-accordian">
        
        <p class="centered"><a href="profile.html"><img src="images/avatars/ui-sam.jpg" class="img-circle" width="60"></a></p>
        <h5 class="centered">Fhad Sheikh</h5>
        
        <li class="mt">
            <a href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-desktop"></i>
                <span>Test Cases</span>
            </a>
            <ul class="sub">
                <li><a  href="general.html">All</a></li>
                <li><a  href="buttons.html">Assigned to Me</a></li>
                <li><a  href="panels.html">Untested</a></li>
            </ul>
        </li>
        
    </ul>
</div>